.card{
    width: 400px;
    height: 400px;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    border: 5px solid blue;
    padding: 25px;
    margin: auto;
    text-align: center;
}
.booklist{
    display: flex;
    flex-wrap: wrap;
}